{% extends 'base.html' %}

{% block title %} Cupcakes! {% endblock %}

{% block content %}

  <form id = "cupcake-form" method="POST">
    <label for="flavor">Flavor:</label>
    <input required type="text" name="flavor" id="flavor">
    <label for="flavor">Size:</label>
    <input required type="text" name="size" id="size">
    <label for="flavor">Rating:</label>
    <input required type="text" name="rating" id="rating">
    <label for="flavor">Image URL:</label>
    <input type="text" name="image-url" id="image-url">
    <button type="submit">Add a Cupcake</button>
  </form>

  <ul id="cupcake-list">
      <!--cupcake list goes here-->
  </ul>

  {% endblock %}